/* Contact Page */

iframe {
   width: 100%;
   height: 500px;
}

.contact-wrapper {
   width: 100%;
}

.contact-wrapper > h2,
.loc-wrapper > h2 {
   color: #052c65;
   font-weight: 700;
}

.form-wrapper {
   padding-right:36px;
}

.loc-wrapper > h2 {
   margin-bottom: 24px;
}

.loc-wrapper > h4 {
   color: #052c65;
   font-weight: 600;
}

.loc-line {
   display: flex;
   align-items: center;
   column-gap: 24px;
}

.loc-line svg {
   width: 24px;
   height: 24px;
   color: #052c65;
}

.conct-social {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 24px;
}

.conct-social svg {
   width: 20px;
   height: 20px;
}

@media (max-width: 576px) {
   iframe {
      height: 350px;
   }
   .contact-wrapper > h2 {
      text-align: center;
   }
   .form-wrapper {
      margin-left: 12px;
      margin-bottom: 24px;
   }
}