/* Footer Component */

#root > footer {
   background: #052c65;
   color: #fff;
}

footer .my-link-container {
   text-align: center;
}

.my-link-container a {
   text-align: center;
   justify-content: center;
   color: #fff;
   text-decoration: none;
}

.my-link-container a:hover {
   opacity: .7;
}

.social-media {
   display: flex;
   justify-content: center;
   /* align-items: center; */
}

.social-media a svg {
   color: #fff;
   font-size: 24px;
}

.social-media a:not(:last-child) {
   margin-right: 16px;
}

.social-media a svg:hover {
   opacity: .7;
}

.flex-item {
   align-items: center;
}

@media (max-width: 767px) {
   .social-media {
      padding-top: 24px;
   }
   .copyright {
      text-align: center;
   }
   .sitemap {
      padding-top: 28px;
   }
   .mission {
      text-align: center;
   }
}